*{
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.banner{
    width: 100%;
    height: 100vh;
    background-image: url(living-room-with-yellow-armchair-empty-dark-blue-wall-background-3d-rendering_41470-3901.avif);
   
    background-size: cover;
    background-position: center;
}
.navbar {
    width:85%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 35px 0;
}
.logo{
    
    cursor:pointer;
    color: #fff;
    list-style: none;
    text-decoration: none;
    text-transform: uppercase;
}
.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}
.navbar ul li a{
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
}
.navbar a::after {
    content: "";
    width: 0%;
    height: 2px;
    background-color: #050404;
    position: absolute;
    bottom: -4px;
    left: 0;
    transition: 0.5s;
}

.navbar a:hover::after,
.navbar .active::after {
    width: 100%;
}
.content{
    width:100%;
    position: absolute;
    top:50%;
    transform: translateY(-50%);
    text-align: center;
    color:#ffff;

}
.content h1{
    font-size: 30px;
    margin-top: 80px;

}
.content p{
    margin :20px auto;
    font-weight: 100;
    line-height: 25px;

}

.btn{
    display: flex;text-align: center;
}
.button {
    border: 2px solid black;
    text-align: center;
    border-radius: 25px;
    width: 150px;
    padding:5px ;
    height: 30px;
    display: block;
    margin:  10px;
    position: relative;
    background: linear-gradient(to right, black 50%, white 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    transition: all .5s ease-out;
   
    left: 30%;
  }
  
  .button:hover {
    background-position: left bottom;
    
  }
  
  .text {
    text-align: center;
    font-size: 16px;
    line-height: 30px; 
    color: black;
    transition: all .6s ease-out;
    display: block;
  }
  
  .text:hover {
    color: white;  
  }
  .footcontainer{
    position: fixed;
   left: 7%;
   bottom: 0;
    width: 100%;
    display: flex;
   color: white;
  }
  .footer{
    margin-right: 20px;
  }
  
  .foot{
   display: flex;
   align-items: center;
  
 
  }
  .click{
    padding: 8px;
    margin: 10px;
  }
  .bton{
    border: 2px solid black;
    text-align: center;
    border-radius: 15px;
    width: 100px;
    padding:2px ;
    height: 30px;
    display: block;
    margin:  10px;
    position: relative;
    background: linear-gradient(to right, black 50%, white 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    transition: all .5s ease-out;
  }
  .bton:hover {
    background-position: left bottom;
    
  }